body{
    font-family: 'Oswald', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.or-color{
    color: orange;
}
section{
    display: flex;
}
.width{
    width: 50%;
    padding-left: 5%;
}
.width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    border-style: solid;
    font-weight: 900;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}