body{
    font-family: 'Oswald', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px
}
.or-color{
    color: orange;
}
.xyz{
    display: flex;
    margin-bottom: 100px;
}
.width{
    width: 50%;
    padding-left: 5%;
}
.width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    border-style: solid;
    font-weight: 900;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
        background-image: url(images/dream-bg.png);
        background-repeat: no-repeat;
        background-position: right;
}
.exprence-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.exprience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
}
#web-dev{
    border-left: 10px solid;
    border-image: linear-gradient(#f6b73c, #4d9f0c) 30;;
    border-image-slice: 1;
}
#Full-stac{
    border-left: 10px solid;
    border-image: linear-gradient(#f6b73c, #4d9f0c) 30;;
    border-image-slice: 1;
}
footer p{
    text-align: center;
}